#progressBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 6px;
    width: 0%;
    background: linear-gradient(to right, #7e0707, #ff2b00);
    z-index: 9999;
    transition: width 0.2s ease;
}