{% extends "base.html"%}
{%block title %}form{%endblock%}

{% block content%}

{% if {{userdetail.name==None and userdetail.weight == None}}%}
<form action="{{url_for('form')}}" method="POST">
        <p>enter your name</p>
        <input type="text" name="name" placeholder="name" required="required"><br>
        <p>enter your age</p>
        <input type="text" name="age" placeholder="age" required="required"><br>
        <p>enter your height</p>
        <input type="text" name="height" placeholder="height" required="required"><br>
        <p>enter your weight</p>
        <input type="text" name="weight" placeholder="weight" required="required"><br>
        <p>enter your goal weightt</p>
        <input type="text" name="goal_weight" placeholder="goal_weight" required="required"><br>
        <p>are you going to gym?</p>
        <input type="text" name="going_to_gym" placeholder="going_to_gym" required="required"><br>
        <p>enter your current level</p>
        <input type="text" name="level" placeholder="level" required="required"><br>
        <input type="submit" value="OK">
</form>

{% endif %}

{%endblock%}